.body {
  padding: 15px;
}
.body p:nth-child(1) {
  font-weight: 600;
  font-size: 24px;
  color: #4d4959;
}

.body p:nth-child(2) {
  font-weight: 500;
  font-size: 18px;
  color: #4d4959;
  /* margin-top: 90px; */
}
.body-main {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #f4f3f6;
  max-height: 500px;
  overflow-y: scroll;
}

.card-social {
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #4d4959;
}
.card-container {
  display: flex;
  justify-content: flex-start;
  /* padding: 10px; */
  overflow-x: scroll;
  margin-top: 20px;
}
@media (min-width: 541px) {
  .card-social2 {
    display: none;
  }
  .article {
    display: none;
  }
}

@media (max-width: 540px) {
  .body p:nth-child(1) {
    font-weight: 600;
    font-size: 18px;
  }

  .body p:nth-child(2) {
    font-weight: 500;
    font-size: 14px;
    color: #9893a3;
    /* margin-top: 90px; */
  }
  .body-main {
    background-color: white;
    border-radius: 0;
    box-shadow: none;
  }
  .card-social {
    display: none;
  }

  .card-social2 {
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #4d4959 !important;
  }
  .card-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    overflow-x: scroll;
  }
  .article {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .article p {
    font-weight: 600;
    font-size: 14px;
    color: #4d4959;
  }
}
