.card {
  width: 290px;
  height: 192px;
  border-radius: 10px;
  background-color: white;
  padding: 5px 10px;
}
.iconRow {
  display: flex;
  justify-content: space-between;
}
.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #1d1437;
}
.card-body {
  font-size: 16px;
  font-weight: 600;
  color: #77737f;
}
