.hero {
  height: 290px;
  border-radius: 20px;
  border: 1px solid #eae4fc;
  padding: 5px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  margin: 35px 10px 10px 10px;
  background-image: url("../../../assets/images/herobg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-section1 p:nth-child(1) {
  color: #4d4959;
  font-weight: 900;
  font-size: 48px;
}

.hero-section1 p:nth-child(2) {
  color: #4d4959;
  font-weight: 500;
  font-size: 20px;
}

.hero-section1 button {
  color: #754de8;
  font-weight: 600;
  font-size: 16px;
  width: 201px;
  height: 48px;
  border-radius: 20px;
  background-color: white;
  border: 2px solid #754de8;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.hero-section1 button:hover {
  border: none;
  color: white;
  background: rgb(234, 0, 34);
  background: linear-gradient(
    90deg,
    rgba(234, 0, 34, 1) 0%,
    rgba(94, 62, 186, 1) 97%
  );
}

.hero-section2 div {
  height: 86px;
  border-radius: 10px;
  width: 637px;
  border: 1px solid white;
  color: #4d4959;
  font-size: 16px;
  font-weight: 500;
  backdrop-filter: blur(20px);
  padding: 5px 0 0 10px;
  margin-top: 10px;
}
.hero-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select {
  margin-left: 390px;
  width: 149px;
  height: 48px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #f8f6ff;
  font-size: 14px;
  color: #1d1437;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../../../assets/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

select:focus {
  outline: none;
}
@media (min-width: 541px) {
  .hero-mobile {
    display: none;
  }
}

@media (max-width: 540px) {
  .hero {
    display: none;
  }
  .hero-mobile {
    height: 242px;
    padding: 15px;
    background-image: url("../../../assets/images/mobilehero.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mobile-search {
    width: 332px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  ::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: #463d61;
    padding: 0 55px;
  }
  .input-icon4 {
    position: absolute;
    left: 10%;
  }

  .mobile-search-a {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
  }
  .hero-mobile-2 p:nth-child(1) {
    font-weight: 900;
    font-size: 32px;
  }
  .hero-mobile-2 p:nth-child(2) {
    font-weight: 500;
    font-size: 16px;
  }
  .hero-nobile-1 {
    display: flex;
    justify-content: space-between;
  }
  select {
    margin-left: 0;
    width: 146px;
    height: 38px;
    border-radius: 6px;
    font-weight: 400;
  }
}
@media screen and (min-width: 541px) and (max-width: 850px) {
  select {
    margin-left: 250px;
  }
  .hero-section2 div {
    height: 86px;
    width: 400px;
    font-size: 13px;
    margin-top: 10px;
  }
  .hero-section1 p:nth-child(1) {
    font-weight: 900;
    font-size: 35px;
  }

  .hero-section1 p:nth-child(2) {
    font-weight: 500;
    font-size: 17px;
  }
}

@media screen and (min-width: 500px) and (max-width: 540px) {
  .input-icon4 {
    left: 20%;
  }
}
@media screen and (min-width: 851px) and (max-width: 1024px) {
  .hero-section1 p:nth-child(1) {
    font-weight: 900;
    font-size: 37px;
  }

  .hero-section1 p:nth-child(2) {
    font-weight: 500;
    font-size: 18px;
  }
  .hero-section2 div {
    height: 90px;
    width: 500px;
    font-size: 13px;
    margin-top: 10px;
  }
  select {
    margin-left: 300px;
  }
}
